* {
    box-sizing: border-box;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
}

.scroll-bar {
    overflow: hidden;
}

.scroll-bar > nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    overflow-x: scroll;
    margin-bottom: -17px;
    width: 100%;
}

.scroll-bar > nav > ul > li > a {
    padding: 20px 30px;
    background-color: rgba(218, 218, 218, 0.527);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: grey;
    transition: background-color 0.5s ease-in-out;
}

.scroll-bar > nav > ul > li > a:hover {
    background-color: rgba(128, 0, 128, 0.253);
}

.scroll-bar > nav > ul > li a.active {
    border-bottom: 2px solid black;
    background-color: rgba(128, 0, 128, 0.397);
    color: rgb(128, 0, 128);
    margin-top: -2px;
}

.scroll-bar > nav > ul > li > a:focus {
    background-color: rgba(128, 0, 128, 0.397);

}

.scroll-bar > nav > ul > li > a > span {
    white-space: nowrap;
}

.content {
    overflow: hidden;
    background-color: red;
}

.content > .inner-wrapper {
    height: 300px;
    display: flex;
    overflow: scroll;
    position: relative;
    width: 100%;
    margin-bottom: -17px;
    box-sizing: content-box;
    padding-right: 17px;
}

.content > .inner-wrapper > section {
    min-width: calc(100% + 17px);
    padding: 15px;  
}