body {
margin: 0;
}

h2, p {
    font-family: Arial, Helvetica, sans-serif;
}
div.main {
    display:flex;
    background-color: #06204a;
    justify-content: space-evenly;
    padding: 150px 0px;
    
  }
  
  div.child {
    text-align: center;
  }
  
  div.child img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  div.child h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  div.child p {
    color: #fff;
    font-size: 1.5em;
    padding: 0 70px;
    word-spacing: 5px;
  }
 